<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png">
    <title>Portfolio</title>

    <!--CSS-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Mystyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <!--JAVA SCRIPT-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand logo_h justify-content-start" href="{% url 'home' %}"><h1>Portfolio</h1></a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
    </ul>
</nav>

<div style="background-color:#ffd269">
    <div class="container" style="padding-top:40px;padding-bottom:100px;">
        {% if messages %}
        <div class="form-group text-center alert alert-danger">
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
        {% endif %}

        <form class="row contact_form"  method="post" enctype="multipart/form-data" id="contactForm">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input  type="text" class="form-control"  name="name"  placeholder="Enter your name" required>
                </div>

                <div class="form-group">
                    <i class="fa fa-envelope"></i>
                    <input type="email" class="form-control"  name="email" placeholder="Enter email address" required>
                </div>

                <div class="form-group">
                    <i class="fa fa-book"></i>
                    <input type="text" class="form-control"  name="title" placeholder="Enter Title" required>
                </div>

                <div class="form-group">
                    <i class="fa fa-image"></i>
                    <input type="file" class="form-control"  name="image" placeholder="choose image" required>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <i class="fa fa-home"></i>
                    <textarea class="form-control" name="location"  rows="3" placeholder="Enter Location"></textarea>
                </div>

                <div class="form-group">
                    <i class="fa fa-paper-plane"></i>
                    <textarea class="form-control" name="desc"  rows="3" placeholder="Enter Description"></textarea>
                </div>
            </div>

            <div class="col-md-12 text-right">
                <button type="submit" value="submit" class="btn  submit_btn " style="color:#a0b3e8;background-color:#0c2e8a;">Create Portfolio</button>
            </div>
        </form>
    </div>
</div>

<footer class="page-footer font-small blue"style="background-color:#0d0b06;padding:60px ">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="{% url 'home' %}"> Portfolio</a>
  </div>
</footer>

</body>
</html>